.cardItems > p{
    margin-top: 7px;
    margin-bottom: 3px;
    font-size: 12px;
    font-weight: 500;
}

.cardItems > textarea {
    height: 100px;
    width: 100%;
    outline: none;
    
}

.cardItems > textarea::placeholder {
    font-size: 14px;
    padding: 2px;
    font-style: italic;
}